.node {
    cursor: pointer;
  }
  
  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
  
  .node text {
    font: 10px sans-serif;
  }
  
  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
  }
  
  ul.breadcrumb li {
    list-style: none;
    border: 1px solid black;
  }
.breadcrumb-level1 {margin-left: 2em;}
.breadcrumb-level2 {margin-left: 4em;}
.breadcrumb-level3 {margin-left: 6em;}
.breadcrumb-level4 {margin-left: 8em;}
.breadcrumb-level5 {margin-left: 10em;}
.breadcrumb-level6 {margin-left: 12em;}
.breadcrumb-level7 {margin-left: 14em;}
.breadcrumb-level8 {margin-left: 16em;}
.breadcrumb-level9 {margin-left: 18em;}

ul.breadcrumb li .catalog { 
  font-size: 0.8em;
  float:right;
}
ul.breadcrumb li:last-child { background-color: silver; font-weight: bold;}

  .sunburst-viz .text-contour {
    stroke: none !important;
  }


  .grid-container {
  display: grid;
  grid-template-columns: auto;
}

.grid-container > div {
}

.grid-container2 {
  display: grid;
  grid-template-columns: auto auto;
}

.grid-container2 > div {
}

svg {
    max-width: 85%;
    max-height: 85%;
}